@import "variables";


/*=====  Footer  =====*/

.footer {
    background: linear-gradient(90deg, $purple, $orange);
    color: #CACACA;
}

.footer-inner {
    &:first-child {
        border-bottom: 1px solid #EEEEEE;
    }
}

.footer-info {
    padding-top: 8rem;
    padding-bottom: 10rem;
}

.footer-info-item {
    width: 25%;
}

.footer-info-title {
    margin-bottom: 3rem;
}

.footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-list-item {
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.footer-list-link {
    color: #CACACA;
    &:hover {
        color: $white;
        transition: color .2s ease;
    }
}

.footer-social .footer-list-link {
    margin-right: 2rem;
    vertical-align: middle;
    &:last-child {
        margin-right: 0;
    }
}

.footer-links {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .footer-list-link {
        margin: 0;
        margin-right: 4rem;
        &:last-child {
            margin-right: 0;
        }
    }
}
