@import "variables";

@media (max-width : 1280px) {
    /*=====  Header  =====*/
    .header-nav {
        margin-right: 0;
    }

    /*=====  Index / Subscriptions  =====*/
    .subscription-item {
        width: 30%;
    }
    .btn-outline-white {
        width: 87.5%;
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        .album-cover {
            img:first-child {
                width: 100%;
                height: 100%;
            }
        }
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        .artist-photo {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width : 1024px) {
    /*=====  Header  =====*/
    .header-left {
        margin-right: 5rem;
    }
    .header-link {
        margin-left: 1.5rem;
    }

    /*=====  Index / Intro  =====*/

    .intro.index {
        h1 {
            font-size: 5rem;
        }
        h2 {
            font-size: 2.5rem;
        }
    }

    /*=====  Index / Subscriptions  =====*/
    .subscription-item {
        height: 46.5rem;
    }
    .subscription-type {
        margin-top: 2rem;
    }
    .subscriptions-info {
        font-size: 2rem;
    }
    .btn-outline-white {
        font-size: 2rem;
    }

    /*=====  Index / News  =====*/
    .news-item {
        margin-bottom: 5rem;
    }
    .news-block {
        h2 {
            margin-bottom: 1.5rem;
            font-size: 3rem;
        }
        .news-content {
            font-size: 1.4rem;
        }
        .news-author {
            margin-bottom: 2.5rem;
        }

        &:nth-child(odd) {
            margin-right: 2rem;
        }

        &:nth-child(even) {
            margin-left: 2rem;
        }
    }

    /*=====  Index / Content  =====*/
    .-block {
        font-size: 1.5rem;

        &:nth-child(odd) {
            margin-right: 2rem;
        }

        &:nth-child(even) {
            margin-left: 2rem;
        }
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        &:nth-child(-n+4) {
            margin-bottom: 0;
        }

        &:nth-child(-n+3) {
            margin-bottom: 5rem;
        }
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;

        &:nth-child(-n+4) {
            margin-bottom: 0;
        }

        &:nth-child(-n+6) {
            margin-bottom: 5rem;
        }
    }

    /*=====  Footer  =====*/
    .footer-info {
        justify-content: space-around;
    }
    .footer-info-item {
        width: 33%;
        &:nth-child(-n+3) {
            margin-bottom: 4rem;
        }
        &:last-child {
            text-align: center;
        }
    }
    .footer-list-item {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width : 768px) {
    /*=====  Header  =====*/
    .header-inner {
        flex-wrap: wrap;
    }
    .header-left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .header-middle {
        order: 2;
        width: 100%;
    }
    .header-right {
        width: 100%;
        margin-bottom: 2rem;

        .header-search {
            margin-left: 0;
        }
    }
    .header-nav {
        width: 100%;
        flex-wrap: wrap;
    }
    .header-link {
        width: 100%;
        margin: 0 0 1rem;

        &.header-title {
            margin-bottom: 0;
        }
    }

    /*=====  Index =====*/
    .main.index .container {
        .main-item {
            > h2 {
                margin-bottom: 5rem;
                font-size: 3rem;
            }
        }
    }

    /*=====  Index / Intro  =====*/
    .intro.index {
        padding-bottom: 15rem;

        h1 {
            font-size: 4.2rem;
        }
        h2 {
            margin-bottom: 4.5rem;
            font-size: 2.2rem;
        }
        h3 {
            margin-bottom: 4rem;
            font-size: 1.6rem;
        }
    }
    .intro-form {
        width: 100%;
        justify-content: center;
    }
    .form-item {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;

        input {
            width: 100%;
            margin-bottom: 3rem;

            &:first-child {
                margin-right: 0;
            }
        }
    }

    /*=====  Index / Subscriptions  =====*/
    .subscriptions {
        flex-direction: column;
        justify-content: center;
        width: 28rem;
    }
    .subscription-item {
        width: 28rem;
        height: 46rem;
        margin-bottom: 5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .subscription-bottom {
        margin-bottom: 1.5rem;
    }
    .subscriptions-info {
        font-size: 1.8rem;
    }
    .btn-outline-white {
        width: 24rem;
        margin-bottom: 4rem;
    }

    /*=====  Index / News  =====*/
    .news-item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .news-block {
        width: 100%;
        text-align: center;

        .news-photo {
            margin: 0 auto 2rem;
        }

        h2 {
            margin-bottom: 2.5rem;
        }

        &:nth-child(odd) {
            margin-right: 0;
        }

        &:nth-child(even) {
            margin-left: 0;
        }
    }
    .news-item:nth-child(even) {
        .news-block:nth-child(odd) {
            order: 2;
        }
    }

    .news-content {
        margin-bottom: 2.5rem;
        line-height: 2.2;
    }
    .news-author {
        margin-bottom: 2.5rem;
        justify-content: center;

        .author {
            padding-right: 4rem;
            margin-right: 4rem;
        }

    }
    .btn-outline-grey {
        width: 28rem;
    }

    /*=====  Index / Content  =====*/
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-block {
        width: 100%;
        text-align: center;

        img {
            margin-bottom: 2.5rem;
        }

        &:nth-child(odd) {
            margin-right: 0;
            order: 2;
        }

        &:nth-child(even) {
            margin-left: 0;
        }
    }
    .btn-pink {
        width: 28rem;
    }

    /*=====  Catalog =====*/
    .main.catalog .container {
        .main-item {
            > h2 {
                font-size: 3.4rem;
            }
        }
    }

    /*=====  Catalog / Intro =====*/
    .intro {
        &.catalog {
            background-position: 75%;
            background-size: auto 100%;
            padding-top: 29.5rem;
            padding-bottom: 10rem;
        }
    }
    .intro-artist {
        margin-top: 0;
        .artist-name {
            margin-bottom: 2.5rem;
            font-size: 4.8rem;
        }
        .artist-fans {
            font-size: 1.6rem;
            margin-bottom: 4rem;
        }
    }

    /*=====  Catalog / Popular =====*/
    .popular-track {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        .track-length {
            margin-right: 0;
        }
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        flex: 0 0 50%;
        max-width: 50%;

        &:nth-child(-n+3) {
            margin-bottom: 0;
        }

        &:nth-child(-n+4) {
            margin-bottom: 5rem;
        }

        .album-name {
            font-size: 1.8rem;
        }
        .album-year {
            font-size: 1.5rem;
        }
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        flex: 0 0 50%;
        max-width: 50%;

        &:nth-child(-n+6) {
            margin-bottom: 5rem;
        }

        .artist-name {
            font-size: 1.8rem;
        }
        .artist-fans {
            font-size: 1.4rem;
        }
    }

    /*=====  Footer  =====*/
    .footer-info {
        justify-content: space-between;
    }
    .footer-info-item {
        width: 50%;
        &:last-child {
            margin-top: 0;
            text-align: left;
        }
        &:nth-child(-n+3) {
            margin-bottom: 0;
        }
        &:nth-child(-n+2) {
            margin-bottom: 4rem;
        }
    }
    .footer-list-item {
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width : 565px) {
    /*=====  Index + Catalog =====*/
    .main.index, .main.catalog {
        .container {
            .main-item {
                > h2 {
                    font-size: 2.5rem;
                }
            }
        }
    }

    /*=====  Index / Intro  =====*/
    .intro.index {
        padding-top: 26.4rem;
        padding-bottom: 5rem;

        h1 {
            font-size: 3.6rem;
        }
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.4rem;
        }
    }

    /*=====  Index / News  =====*/
    .news-block {
        h2 {
            text-align: left;
        }
    }
    .news-content {
        text-align: left;
    }

    /*=====  Index / Subscriptions  =====*/
    .subscriptions-info {
        font-size: 1.6rem;
    }

    /*=====  Catalog =====*/
    .main-block {
        margin-right: -1rem;
        margin-left: -1rem;
    }

    /*=====  Catalog / Intro =====*/
    .intro-artist {
        .artist-name {
            font-size: 3rem;
        }
        .artist-fans {
            font-size: 1.4rem;
        }
        .btn-purple, .btn-orange {
            width: 28rem;
            margin-right: 0;
        }
        .btn-purple {
            margin-bottom: 2.5rem;
        }
        .btn-orange {
            margin-bottom: 0;
        }
    }

    /*=====  Catalog / Popular =====*/
    .popular-track {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    /*=====  Catalog / Discography =====*/
    .discography-album {
        padding-right: 1rem;
        padding-left: 1rem;

        .album-cover {
            img:last-child {
                left: .5rem;
                bottom: .5rem;
                height: 1.5rem;
            }
        }
        .album-name {
            font-size: 1.6rem;
            margin-bottom: .5rem;
        }
        .album-year {
            font-size: 1.4rem;
        }
    }

    /*=====  Catalog / Similar =====*/
    .similar-artist {
        padding-right: 1rem;
        padding-left: 1rem;

        .artist-name {
            font-size: 1.6rem;
        }
        .artist-fans {
            font-size: 1.2rem;
        }
    }

    /*=====  Footer  =====*/
    .footer-info-item {
        width: 100%;
        text-align: left;
        &:nth-child(-n+3) {
            margin-bottom: 4rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .footer-links {
        flex-wrap: wrap;

        .footer-list-link {
            width: 100%;
            margin-right: 0;
            margin-bottom: 2rem;
            text-align: left;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width : 425px) {
    /*=====  Index + Catalog =====*/
    .main.index, .main.catalog {
        .container {
            .main-item {
                > h2 {
                    font-size: 2rem;
                }
            }
        }
    }

    /*=====  Index / Intro  =====*/
    .intro.index {
        h1 {
            font-size: 3rem;
        }
        h3 {
            font-size: 1.2rem;
        }
    }

    /*=====  Index / Subscriptions  =====*/
    .subscriptions-info {
        font-size: 1.4rem;
    }

    /*=====  Index / Content  =====*/
    .content-block {
        img {
            width: 100%;
        }
    }
}

@media (max-width : 320px) {
    /*=====  Index / Subscriptions  =====*/
    .subscriptions-info {
        font-size: 1.2rem;
    }

    /*=====  Catalog / Discography =====*/
    .artist-data {
        width: 13rem;
    }

    /*=====  Catalog / Similar =====*/
    .album-data {
        width: 13rem;
    }
}
